<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>cash</th>
      <th>stock</th>
      <th>net</th>
      <th>%net</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>14</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>15</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>16</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>17</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>18</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>19</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>20</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>21</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>22</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>23</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>24</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>25</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>26</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>27</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>28</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>29</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>30</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>31</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>32</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>33</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>34</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>35</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>36</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>37</th>
      <td>1.000000e+04</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>38</th>
      <td>1.818989e-12</td>
      <td>277.008310</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>39</th>
      <td>1.818989e-12</td>
      <td>277.008310</td>
      <td>110.803324</td>
      <td>1.108033</td>
    </tr>
    <tr>
      <th>40</th>
      <td>1.000006e+04</td>
      <td>0.000000</td>
      <td>0.055402</td>
      <td>0.000554</td>
    </tr>
    <tr>
      <th>41</th>
      <td>1.000006e+04</td>
      <td>0.000000</td>
      <td>0.055402</td>
      <td>0.000554</td>
    </tr>
    <tr>
      <th>42</th>
      <td>1.000006e+04</td>
      <td>0.000000</td>
      <td>0.055402</td>
      <td>0.000554</td>
    </tr>
    <tr>
      <th>43</th>
      <td>1.000006e+04</td>
      <td>0.000000</td>
      <td>0.055402</td>
      <td>0.000554</td>
    </tr>
    <tr>
      <th>44</th>
      <td>1.000006e+04</td>
      <td>0.000000</td>
      <td>0.055402</td>
      <td>0.000554</td>
    </tr>
    <tr>
      <th>45</th>
      <td>1.000006e+04</td>
      <td>0.000000</td>
      <td>0.055402</td>
      <td>0.000554</td>
    </tr>
    <tr>
      <th>46</th>
      <td>1.000006e+04</td>
      <td>0.000000</td>
      <td>0.055402</td>
      <td>0.000554</td>
    </tr>
    <tr>
      <th>47</th>
      <td>1.000006e+04</td>
      <td>0.000000</td>
      <td>0.055402</td>
      <td>0.000554</td>
    </tr>
    <tr>
      <th>48</th>
      <td>1.000006e+04</td>
      <td>0.000000</td>
      <td>0.055402</td>
      <td>0.000554</td>
    </tr>
    <tr>
      <th>49</th>
      <td>1.000006e+04</td>
      <td>0.000000</td>
      <td>0.055402</td>
      <td>0.000554</td>
    </tr>
    <tr>
      <th>50</th>
      <td>1.000006e+04</td>
      <td>0.000000</td>
      <td>0.055402</td>
      <td>0.000554</td>
    </tr>
    <tr>
      <th>51</th>
      <td>1.000006e+04</td>
      <td>0.000000</td>
      <td>0.055402</td>
      <td>0.000554</td>
    </tr>
    <tr>
      <th>52</th>
      <td>1.000006e+04</td>
      <td>0.000000</td>
      <td>0.055402</td>
      <td>0.000554</td>
    </tr>
    <tr>
      <th>53</th>
      <td>1.000006e+04</td>
      <td>0.000000</td>
      <td>0.055402</td>
      <td>0.000554</td>
    </tr>
    <tr>
      <th>54</th>
      <td>1.000006e+04</td>
      <td>0.000000</td>
      <td>0.055402</td>
      <td>0.000554</td>
    </tr>
    <tr>
      <th>55</th>
      <td>1.000006e+04</td>
      <td>0.000000</td>
      <td>0.055402</td>
      <td>0.000554</td>
    </tr>
    <tr>
      <th>56</th>
      <td>1.000006e+04</td>
      <td>0.000000</td>
      <td>0.055402</td>
      <td>0.000554</td>
    </tr>
    <tr>
      <th>57</th>
      <td>1.000006e+04</td>
      <td>0.000000</td>
      <td>0.055402</td>
      <td>0.000554</td>
    </tr>
    <tr>
      <th>58</th>
      <td>1.000006e+04</td>
      <td>0.000000</td>
      <td>0.055402</td>
      <td>0.000554</td>
    </tr>
    <tr>
      <th>59</th>
      <td>1.000006e+04</td>
      <td>0.000000</td>
      <td>0.055402</td>
      <td>0.000554</td>
    </tr>
    <tr>
      <th>60</th>
      <td>0.000000e+00</td>
      <td>280.577296</td>
      <td>0.055402</td>
      <td>0.000554</td>
    </tr>
    <tr>
      <th>61</th>
      <td>9.932436e+03</td>
      <td>0.000000</td>
      <td>-67.563727</td>
      <td>-0.675637</td>
    </tr>
    <tr>
      <th>62</th>
      <td>9.932436e+03</td>
      <td>0.000000</td>
      <td>-67.563727</td>
      <td>-0.675637</td>
    </tr>
    <tr>
      <th>63</th>
      <td>9.932436e+03</td>
      <td>0.000000</td>
      <td>-67.563727</td>
      <td>-0.675637</td>
    </tr>
    <tr>
      <th>64</th>
      <td>9.932436e+03</td>
      <td>0.000000</td>
      <td>-67.563727</td>
      <td>-0.675637</td>
    </tr>
    <tr>
      <th>65</th>
      <td>9.932436e+03</td>
      <td>0.000000</td>
      <td>-67.563727</td>
      <td>-0.675637</td>
    </tr>
    <tr>
      <th>66</th>
      <td>9.932436e+03</td>
      <td>0.000000</td>
      <td>-67.563727</td>
      <td>-0.675637</td>
    </tr>
    <tr>
      <th>67</th>
      <td>9.932436e+03</td>
      <td>0.000000</td>
      <td>-67.563727</td>
      <td>-0.675637</td>
    </tr>
    <tr>
      <th>68</th>
      <td>9.932436e+03</td>
      <td>0.000000</td>
      <td>-67.563727</td>
      <td>-0.675637</td>
    </tr>
    <tr>
      <th>69</th>
      <td>9.932436e+03</td>
      <td>0.000000</td>
      <td>-67.563727</td>
      <td>-0.675637</td>
    </tr>
    <tr>
      <th>70</th>
      <td>9.932436e+03</td>
      <td>0.000000</td>
      <td>-67.563727</td>
      <td>-0.675637</td>
    </tr>
    <tr>
      <th>71</th>
      <td>9.932436e+03</td>
      <td>0.000000</td>
      <td>-67.563727</td>
      <td>-0.675637</td>
    </tr>
    <tr>
      <th>72</th>
      <td>9.932436e+03</td>
      <td>0.000000</td>
      <td>-67.563727</td>
      <td>-0.675637</td>
    </tr>
    <tr>
      <th>73</th>
      <td>9.932436e+03</td>
      <td>0.000000</td>
      <td>-67.563727</td>
      <td>-0.675637</td>
    </tr>
    <tr>
      <th>74</th>
      <td>9.932436e+03</td>
      <td>0.000000</td>
      <td>-67.563727</td>
      <td>-0.675637</td>
    </tr>
    <tr>
      <th>75</th>
      <td>9.932436e+03</td>
      <td>0.000000</td>
      <td>-67.563727</td>
      <td>-0.675637</td>
    </tr>
    <tr>
      <th>76</th>
      <td>9.932436e+03</td>
      <td>0.000000</td>
      <td>-67.563727</td>
      <td>-0.675637</td>
    </tr>
    <tr>
      <th>77</th>
      <td>9.932436e+03</td>
      <td>0.000000</td>
      <td>-67.563727</td>
      <td>-0.675637</td>
    </tr>
    <tr>
      <th>78</th>
      <td>9.932436e+03</td>
      <td>0.000000</td>
      <td>-67.563727</td>
      <td>-0.675637</td>
    </tr>
    <tr>
      <th>79</th>
      <td>0.000000e+00</td>
      <td>279.314856</td>
      <td>-67.563727</td>
      <td>-0.675637</td>
    </tr>
    <tr>
      <th>80</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>81</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>82</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>83</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>84</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>85</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>86</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>87</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>88</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>89</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>90</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>91</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>92</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>93</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>94</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>95</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>96</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>97</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>98</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>99</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>100</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>101</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>102</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>103</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>104</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>105</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>106</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>107</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>108</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>109</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>110</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>111</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>112</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>113</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>114</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>115</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>116</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>117</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>118</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>119</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>120</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>121</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>122</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>123</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>124</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>125</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>126</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>127</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>128</th>
      <td>9.873782e+03</td>
      <td>0.000000</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>129</th>
      <td>0.000000e+00</td>
      <td>256.461881</td>
      <td>-126.217548</td>
      <td>-1.262175</td>
    </tr>
    <tr>
      <th>130</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>131</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>132</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>133</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>134</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>135</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>136</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>137</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>138</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>139</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>140</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>141</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>142</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>143</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>144</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>145</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>146</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>147</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>148</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>149</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>150</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>151</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>152</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>153</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>154</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>155</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>156</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>157</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>158</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>159</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>160</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>161</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>162</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>163</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>164</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>165</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>166</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>167</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>168</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>169</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>170</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>171</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>172</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>173</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>174</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>175</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>176</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>177</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>178</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>179</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>180</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>181</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>182</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>183</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>184</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>185</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>186</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>187</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>188</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>189</th>
      <td>9.681436e+03</td>
      <td>0.000000</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>190</th>
      <td>0.000000e+00</td>
      <td>235.965108</td>
      <td>-318.563992</td>
      <td>-3.185640</td>
    </tr>
    <tr>
      <th>191</th>
      <td>0.000000e+00</td>
      <td>235.965108</td>
      <td>-65.868965</td>
      <td>-0.658690</td>
    </tr>
    <tr>
      <th>192</th>
      <td>0.000000e+00</td>
      <td>235.965108</td>
      <td>-136.658495</td>
      <td>-1.366585</td>
    </tr>
    <tr>
      <th>193</th>
      <td>0.000000e+00</td>
      <td>235.965108</td>
      <td>-207.448030</td>
      <td>-2.074480</td>
    </tr>
    <tr>
      <th>194</th>
      <td>9.650973e+03</td>
      <td>0.000000</td>
      <td>-349.027094</td>
      <td>-3.490271</td>
    </tr>
    <tr>
      <th>195</th>
      <td>9.650973e+03</td>
      <td>0.000000</td>
      <td>-349.027094</td>
      <td>-3.490271</td>
    </tr>
    <tr>
      <th>196</th>
      <td>9.650973e+03</td>
      <td>0.000000</td>
      <td>-349.027094</td>
      <td>-3.490271</td>
    </tr>
    <tr>
      <th>197</th>
      <td>9.650973e+03</td>
      <td>0.000000</td>
      <td>-349.027094</td>
      <td>-3.490271</td>
    </tr>
    <tr>
      <th>198</th>
      <td>9.650973e+03</td>
      <td>0.000000</td>
      <td>-349.027094</td>
      <td>-3.490271</td>
    </tr>
    <tr>
      <th>199</th>
      <td>9.650973e+03</td>
      <td>0.000000</td>
      <td>-349.027094</td>
      <td>-3.490271</td>
    </tr>
  </tbody>
</table>